<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pitches And Notes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pitches and Notes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Members", "Members", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Listen", "Listen", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Events", "Events", "Home")</li>
                            <li>@Html.ActionLink("Auditions", "Auditions", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Donations", "Donations", "Home")</li>
                        </ul>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Are You a Pitch?", "Login", "Account")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer id="footer">
            <div class="row topScrollRow">
                <div class="col-xs-12">
                    <a id="scrollTopButton" href="#"><span class="glyphicon glyphicon-chevron-up"></span> Scroll Up</a>
                </div>
            </div>
            <div class="row socialMediaRow hidden-xs hidden-sm">
                <div class="hidden-xs hidden-sm col-md-10 col-md-push-2">
                    <h2 style="color:white;padding-top:25px;">Social</h2>
                    <br />
                    <br />
                    <a href="https://twitter.com/pitchesandnotes" class="twitter socButton">Twitter</a> <a href="https://www.facebook.com/pitchesandnotes/" class="facebook socButton">Facebook</a> <a href="https://www.instagram.com/pitchesandnotes/" class="insta socButton">Instagram</a>
                </div>
            </div>
            <div class="row hidden-md hidden-lg">
                <div class="col-xs-12">
                    <h2 style="color:white;padding-top:25px; margin-left:25px;">Social</h2>
                </div>
            </div>
            <div class="row hidden-md hidden-lg">
                <div class="hidden-md hidden-lg col-xs-12">
                    <a href="https://twitter.com/pitchesandnotes" class="twitter socButtonSmall">Twitter</a>
                </div>
            </div>
            <div class="row hidden-md hidden-lg">
                <div class="hidden-md hidden-lg col-xs-12">
                    <a href="https://www.facebook.com/pitchesandnotes/" class="facebook socButtonSmall">Facebook</a>
                </div>
            </div>
            <div class="row hidden-md hidden-lg">
                <div class="hidden-md hidden-lg col-xs-12">
                    <a href="https://www.instagram.com/pitchesandnotes/" class="insta socButtonSmall">Instagram</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-push-2">
                    <hr />
                    <h4>Pitches and Notes - &copy; @System.DateTime.Today.Year</h4>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
